* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sf arborcrest";
    src: url("./fonts/sfarborcrestmedium.ttf");
}

body {
    background-color: white;
    color: yellowgreen;
    font-family: "sf arborcrest";
}

header {
    padding: 20px 35px;
    background-color: white;
}

header h1 {
    font-weight: bold;
    font-size: 26px;
    color: yellowgreen;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: yellowgreen;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font: 22px;
}

.hero {
    background-image: url("../images/Screen\ Shot\ 2021-06-05\ at\ 5.06.12\ PM.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav-sections {
    text-align: center;
    padding: 35px;
}

.nav-sections img {
    width: 35%;
}

.bio {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-item {
    width: 100%;
    border-radius: 14px;
    border: 4px solid rgb(199, 199, 245);
    background-color: rgb(250, 165, 229);
    font-size: 22px;
    font font-weight: bold;
    margin-bottom: 15px;
    padding: 20px 0;
    min-height: 250px;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    opacity: 0.5;
}

.flex-item h3 {
    font-family: "sf arborcrest";
    flex-direction: row;
    justify-content: flex-start;
    left: 0;
    width: 50%;
    text-align: center;
    display: flex;
    font-size: larger;
}

.flex-item a {
    text-decoration: none;
    color: yellowgreen;
}

.run-buddy {
    background-image: url("../images/run-buddy.png");
}

.horiseon {
    background-image: url("../images/horiseon.png");
}

.robot-gladiators {
    background-image: url("../images/robot-gladiators.png");
}

.ten-speed {
    background-image: url("../images/10-speed.png");
}

.contact-info {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.contact-info a:link {
    color: green;
}

.contact-info a:visited {
    color: rgb(2, 61, 2);
}

.contact-info a:hover {
    color: rgb(199, 199, 245);
}

a:hover {
    color: rgb(199, 199, 245);
}

a:active {
    color: rgb(250, 165, 229);
}

.flex-item:hover {
    opacity: 1.0;
}

/* Width at 1024px and below */
@media screen and (max-width: 1024px) {
    
  /* Width at 768px and below */
  @media screen and (max-width: 768px) {
    
  }
  /* Width at 600px and below */
  @media screen and (max-width: 600px) {
  
  }
  /* Width at 480px and below */
  @media screen and (max-width: 480px) {
    
  }
